<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title %></title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- Start your project here--> 
  <nav class="navbar navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" href="#">Dealer Group Integration API Web Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/request">API Request</a>
          </li>
        </ul>
      </div>
  </nav>
  

  <div class="container"><br>
      <div class="row">
          <div class="col-md-4">
              <!-- Card -->
            <div class="card clearfix">

                <!-- Card content -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="Request" class="control-label">Modul</label>
                        <select name="modul" id="modul" class="form-control">
                          <option value="">Pilih Modul</option>
                          <option value="prsp">Prospecting Activity (PRSP)</option>
                          <option value="prsl">Manage Parts Sales</option>
                        </select>
                    </div>
                    <div id="show"></div>
                    <button class='btn btn-md btn-primary' id='send'>Send Request</button>
                </div>
            </div>
          </div>
          <div id='result' class="col-md-8">

          </div> 
      </div>
  </div>
  <!-- End your project here-->
  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>

  <script>
    $("#modul").change(function(){
        var modul = $("#modul").val()
        if(modul == "prsp"){
            document.getElementById("show").innerHTML = `
            <h6>Header Request</h6> <hr>
            &nbsp <label for='apikey' class='control-label'>DGI API KEY</label>
            &nbsp <input type='text' class='form-control' id='apikey'><br>

            &nbsp <label for='secret-key' class='control-label'>DGI SECRET KEY</label>
            &nbsp <input type='text' class='form-control' id='secret-key'><br>

            <h6>Body Request</h6> <hr>
            &nbsp <label for='fromtime' class='control-label'>From Time</label>
            &nbsp <input type='date' class='form-control' id='fromtime'>

            &nbsp <label for='totime' class='control-label'>To Time</label>
            &nbsp <input type='date' class='form-control' id='totime'>

            &nbsp <label for='idProspect' class='control-label'>Prospect ID *</label>
            &nbsp <input type='text' class='form-control' id='idProspect'><hr>
            `
        }
    });
    $("#send").click(function(){
        var fromtime = $("#fromtime").val()
        var totime = $("#totime").val()
        var idProspect = $("#idProspect").val()
        var apikey = $("#apikey").val()
        var secretkey = $("#secret-key").val()
        var modul = $("#modul").val()
        $.post("http://localhost:8000/request/"+modul+"", {
          fromTime: fromtime,
          toTime: totime,
          api_key: apikey,
          secret_key: secretkey,
          idProspect: ''
        },
        function(response, status){
            console.log(response)
        })
        document.getElementById("result").innerHTML = `
        <div class="card">
            <div class="card-body">
                <h6>Response</h6><hr>
                `+fromtime+`
            </div>
        </div>
        `
    })
</script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>
</html>
